button {
    &:focus {
        outline: 0;
    }
}

.button {
    border: 0;
    outline: 0;
    padding: rem(15) rem(30);
    font-size: rem(15);
    line-height: rem(18);
    text-align: center;
    font-weight: $regular;
    border-radius: rem(30);
    transition: all 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    }

    &:focus {
        outline: 0;
    }

    &.-white {
        background: $white;
    }

    &.-small {
        padding: rem(10) rem(15);
        font-size: rem(12);
        border-radius: rem(20);
    }

    &--ellipsis {
        border: none;
        background-color: transparent;
        color: $g-500;

        &.dropdown-toggle {
            &::after {
                display: none !important;
            }

            &:focus {
                outline: 0;
            }
        }
    }

    &--arrow {
        padding: 0;
        border: none;
        background: transparent;

        &:focus {
            outline: 0;
        }

        &.-blue {
            svg {
                stroke: $primary;
            }

            i {
                color: $primary;
            }
        }
    }

    &.button-primary {
        border: 1px solid $a-400;
        background-color: $a-400;
        line-height: rem(14);
        box-sizing: border-box;
        color: #ffffff;
        min-width: 7rem;

        &:hover {
            background-color: rgba(28, 124, 213, 0.9);
        }
    }
}

.button--outline {
    @extend .button;
    border: 1px solid;
    line-height: rem(14);
    box-sizing: border-box;
    min-width: 7rem;

    &:hover {
        background-color: rgba(0, 0, 0, 0.02);
    }

    &.-blue {
        color: $primary;
        background: $white;
        border-color: $primary;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

.link {
    &--blue {
        color: $primary;
        font-weight: $regular;
        font-size: rem(14);
        line-height: rem(14);
    }

    &:hover {
        text-decoration: none;
    }
}
