<div class="container">
    <div class="card">
        <div class="row">
            <div class="col">
                <h1 class="h6 bg-light p-3 font-weight-normal text-primary">
                    Nueva Transferencia
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="" class="p-3">
                    <div class="row">
                        <div class="col-xs-12 col-lg-6">
                            <div class="form-group ">
                                <label for="mount">Monto a Transferir</label>
                                <input id="mount" type="number" class="form-control" placeholder="Monto a Transferir" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-6">
                            <div class="form-group ">
                                <label for="destination">Destinatario</label>
                                <input id="destination" type="text" class="form-control" placeholder="Destinatario" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="detail">Detalle</label>
                                <input type="text" class="form-control" placeholder="Más informacón..." />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center justify-content-lg-end">
                        <div class="col-8 col-lg-3">
                            <button class="btn btn-primary btn-block rounded-pill  ">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
