<div class="header-wrapper shadow">
    <div class="kh-fixed-nav">
        <kui-header [options]="headerData" [isLogged]="isLogged" [user]="userDataForHeader"></kui-header>
    </div>
</div>

<main>
    <div class="container main-container">
        <!--para CIUDADANO class="container main-container" ; para BACKOFFICE class="container-fluid" -->
        <router-outlet></router-outlet>
    </div>

    <div class="app-loader__container" [ngClass]="isLoading ? 'd-flex' : 'd-none'">
        <div class="spinner-grow text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
        <div class="app-loader__container--text">
            <span class="app-loader__container--text">Cargando...</span>
        </div>
    </div>
</main>
<kui-footer [subdomain]="subdomainForFooter"></kui-footer>
