<div class="container">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs justify-content-center flex-column flex-sm-row">
                <li class="nav-item">
                    <a routerLink="inicio" class="nav-link" routerLinkActive="active">Inicio</a>
                </li>
                <li class="nav-item">
                    <a routerLink="transferencias" class="nav-link" routerLinkActive="active">Transferencias</a>
                </li>
                <li class="nav-item">
                    <a routerLink="pagos" class="nav-link" routerLinkActive="active">Pagos</a>
                </li>
                <li class="nav-item">
                    <a routerLink="ultimos-movimientos" class="nav-link" routerLinkActive="active"
                        >Ultimos movimientos</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container mt-5">
    <router-outlet></router-outlet>
</div>
